@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-size: 16px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-fjalla-one);
  --font-body: var(--font-cantarell-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cantarell-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-fjalla-one);
}

.hero-container {
  background-image: url('/images/alyona-yankovska-7EbGkOm8pWM-unsplash.webp');
}

.specialtiesHeaderContainer {
  background-image: url('/images/anil-sharma-fE3uYk0Ri1U-unsplash-1920.jpg');
}